﻿<div class="well" ng-controller="StateManagementController">
	<div class="row">
		<div class="col-md-3">
			<h3>New</h3>
			<div id="newTasks" ng-repeat="task in tasks | filter: { state:'New' }" class="swimLane ">
				<div class="task leftCorner leftMostTask">
					<div class="taskUpper">
						{{task.name}}
					</div>
					<div class="taskLower">
						{{task.description}}
					</div>
				</div>
				<div ng-click="moveToNextState(task.id)" class="stateButton rightCorner">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<h3>Analyzed</h3>
			<div id="analyzedTasks" ng-repeat="task in tasks | filter: { state:'Analyzed' }" class="swimLane">
				<div ng-click="moveToPreviousState(task.id)" class="stateButton leftCorner">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</div>
				<div class="task">
					<div class="taskUpper">
						{{task.name}}
					</div>
					<div class="taskLower">
						{{task.description}}
					</div>
				</div>
				<div ng-click="moveToNextState(task.id)" class="stateButton rightCorner">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<h3>In progress</h3>
			<div id="inProgressTasks" ng-repeat="task in tasks | filter: { state:'In progress' }" class="swimLane">
				<div ng-click="moveToPreviousState(task.id)" class="stateButton leftCorner">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</div>
				<div class="task">
					<div class="taskUpper">
						{{task.name}}
					</div>
					<div class="taskLower">
						{{task.description}}
					</div>
				</div>
				<div ng-click="moveToNextState(task.id)" class="stateButton rightCorner">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<h3>Finished</h3>
			<div id="finishedTasks" ng-repeat="task in tasks | filter: { state:'Finished' }" class="swimLane">
				<div ng-click="moveToPreviousState(task.id)" class="stateButton leftCorner">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</div>
				<div class="task rightCorner rightMostTask">
					<div class="taskUpper">
						{{task.name}}
					</div>
					<div class="taskLower">
						{{task.description}}
					</div>
				</div>
			</div>
		</div>

	</div>

	<p style="margin-top: 10px">
		<a href="#!/main" class="btn btn-info" role="button">
			Main page
		</a>
	</p>
</div>