﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="GtdApp" ng-controller="MainController">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="content/css/bootstrap.min.css">
	<link rel="stylesheet" href="content/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="content/css/bootstrap-datetimepicker.min.css">
	<link rel=" stylesheet" ng-href="{{css}}">

	<title>Getting things done app</title>
</head>
<body>
	<div ng-controller="AuthController">
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="navbar-brand">Getting things done</span>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<form class="navbar-form navbar-right" ng-submit="login(loginData.UserId, loginData.Password)" ng-cloak>
						<div ng-hide="loggedIn()">
							<div class="form-group">
								<input type="text" placeholder="Username" class="form-control" data-ng-model="loginData.UserId" required />
							</div>
							<div class="form-group">
								<input type="password" placeholder="Password" class="form-control" data-ng-model="loginData.Password" required />
							</div>
							<button type="submit" class="btn btn-success">
								<span class="glyphicon glyphicon-log-in"></span>
								Sign in
							</button>
						</div>

						<div ng-show="loggedIn()">
							<button type="button" class="btn btn-primary" ng-click="logout()">
								<span class="glyphicon glyphicon-log-out"></span>
								Logout
							</button>
						</div>
					</form>
				</div>
			</div>
		</nav>
	</div>

	<div class="container body-content">
		<ng-view />
	</div>

	<!-- imported js-libs -->
	<script src="scripts/jquery-2.1.3.min.js"></script>
	<script src="scripts/bootstrap.min.js"></script>
	<script src="scripts/moment-with-locales.js"></script>
	<script src="scripts/bootstrap-datetimepicker.min.js"></script>
	<script src="scripts/underscore.js"></script>
	
	<script src="scripts/angular.js"></script>
	<script src="scripts/angular-route.js"></script>
	<script src="scripts/angular-sanitize.js"></script>

	<script src="scripts/angular-local-storage.js"></script>

	<!-- angular app -->
	<script src="app/models.js"></script>
	<script src="app/app.js"></script>
	<script src="app/controllers/auth-controller.js"></script>
	<script src="app/controllers/mainPage-controller.js"></script>
	<script src="app/controllers/stateManagement-controller.js"></script>

	<script src="app/services/authentication.js"></script>
	<script src="app/services/dialogs.js"></script>
	<script src="app/services/tasks.js"></script>
</body>
</html>
